*{
    background-color: #779ecb;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
}

#container{
    display: flex;
    min-height: 100vh;
    background-image: url("img/wallpaperbetter.com_1280x800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#container > *{
    margin: auto;
}

#container{
    justify-content: center;
}

#terminal{
    top: 20%;
    width: 900px;
    height: 600px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow-y: scroll;
    scrollbar-color: #000;
    scrollbar-width: auto;
    box-shadow: 19px 19px 10px 1px rgba(10,10,10,0.75);
    -webkit-box-shadow: 19px 19px 10px 1px rgba(10,10,10,0.75);
    -moz-box-shadow: 19px 19px 10px 1px rgba(10,10,10,0.75);
    position:absolute;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

#barra-estado{
    display: grid;
    top: 15%;
    width: 900px;
    height: 6%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #cacfd2;
    position: absolute;
}

ul{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;

}

#proyect-name{
    display: inline;
    background-color: transparent;
    list-style: none;
    width: 40%;
}

#user-name{
    display: inline;
    background-color: transparent;
    list-style: none;
    width: 10%;
    color: crimson;
}

#level{
    display: inline;
    background-color: transparent;
    list-style: none;
    width: 15%;
}

#input{
    position: static;
    margin-left: 3%;
    top: 84%;
    width: 70%;
    height: 5%;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    color: white;
    background-color: transparent;
    padding: 0;
    border: 1px;
    margin-top: 3px;
}

input:focus-visible{
    border: 0;
    padding: 0;
    border: 1px;
    outline: none;
}

#terminal p{
    top: 2%;
    position: relative;
    background-color: transparent;
    color: white;
    margin-left: 3%;
    margin-bottom: 7px;
    display: flex;
}

footer{
    text-align: center; 
    background-color: transparent; 
    color: white; 
    display: flex; 
    position: absolute; 
    top: 40%; 
    left: 80%;
}